body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-W6oyTzyIo2qDWd3psBC2IvjtbL8HCPQvK5KJ1A1Y4w0vnnxR")
    
}


.h1{
     color: #fff78e;
}
.btn{
    background-color: #dc42f4
}
